.flex-box {
  display: flex;
  flex-direction: row;
}

.card-visual {
  display: none;

  /* transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden; */
}

.card-visual img {
  height: 150px;
}

.active {
  display: block;
  margin-right: 20px;
  /* opacity: 1;
    height: auto; */
}
